export(aracne2regulon)
export(bootstrapMarina)
export(bootstrapTtest)
export(compareRegulon)
export(distMode)
export(fclengthna)
export(fcmeanna)
export(fcsumna)
export(fcvarna)
export(filterCV)
export(frcv)
export(frlengthna)
export(frmeanna)
export(frsumna)
export(frvarna)
export(integrateSignatures)
export(ledge)
export(marina)
export(marinaAnnot)
export(marinaCombinatorial)
export(marinaSynergy)
export(pruneRegulon)
export(rowTtest)
export(scaleGroups)
export(shadow)
export(signatureDistance)
export(ssmarina)
export(ssmarinaSignature)
export(ttestNull)
importFrom(stats,as.dist)
S3method(as.dist,signatureDistance)
S3method(plot,compareRegulon)
S3method(plot,marina)
S3method(print,marina)
S3method(print,regulon)
S3method(scale,signatureDistance)
S3method(summary,compareRegulon)
S3method(summary,marina)
S3method(summary,regulon)
